body {
    margin-right: 60px;
    margin-left: 60px;
    font-family: Segoe UI, SegoeUI, "Helvetica Neue", Helvetica, Arial,
        sans-serif;
}
.navbar-brand img {
    width: 120px;
}

.navbar li {
    font-size: 0.8em;
}

.navbar li a:hover {
    border-bottom: 2px solid black;
}

.navbar li a:active {
    border: 2px dotted black;
}

.btn-primary {
    background-color: black;
}

.btn-primary:hover {
    background-color: black;
    text-decoration: underline;
}

.hero {
    background-color: #f2f6f9;
}

.card-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}
.card {
    border: none;
}
.card-body {
    padding: none;
}
.card-text {
    font-size: 14px;
}

.card-body a {
    color: #0166b8;
    font-weight: bold;
    text-decoration: none;
    display: block;
}
.card-body a:hover {
    /* border-bottom: 2px solid #0166b8; */
    text-decoration: underline;
}
.card-body a:active,
.card-body-special:active {
    border: 2px solid black;
}
.card-body-special {
    text-align: center;
}
.card-body-special img {
    display: inline-block;
    margin: auto;
    width: 50px;
}
.card-body-special a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
